<div class="content">  
  <div class="jumbotron content-begin">
    <div class="container">
      <h1 class="display-3 title">Hello, world!</h1>
      <p class="text">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg button-learn" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Bilyk</h2>

      <p class="col-md-4_image"><%= image_tag("20170926_074705.jpg") %></p>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Grandmother</h2>

        <p class="col-md-4_image"><%= image_tag("rover.jpg") %></p>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>My Stasyk</h2>

        <p class="col-md-4_image"><%= image_tag("DSCN0653.JPG") %></p>

        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
  </div>
    
  <div class="container">
    <div class="content-image">
      <div class="content-image_foto_1">
        <%= image_tag("-OZ9YZVt6GQ.jpg") %>
      </div>

      <div class="content-image_foto_2">
        <%= image_tag("4yTV5MUIK90.jpg") %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-image-2">

    <h2>The gutsul wedding</h2>
    <p class="content-image-2_p">This wedding is the best in Ukraine</p>

     <div class="separate-img content-image-2_foto_3">
        <%= image_tag("UWPjYM7VRxg.jpg") %>
      </div>

      <div class="separate-img content-image-2_foto_4">
        <%= image_tag("134553_original.jpg") %>
      </div>

      <div class="separate-img content-image-2_foto_5">
        <%= image_tag("Rgr_QHJ6YiI.jpg") %>
      </div>

      <div class="separate-img content-image-2_foto_6">
        <%= image_tag("Western Ukraine.jpg") %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-image-3">
      <div class="content-image-3_foto_1">
        <%= image_tag("office.jpg") %>
      </div>
      <div class="content-image-3 lines-in-block">
        <div class="content-image-3_foto_2">
        
          <h4>About Us.</h4>
          <p class="text-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          <p class="text-2">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
          <p class="lines-in-block_down"><%= image_tag("lines.png") %></p>
      </div>
    </div>
  </div>
  
  <div class="content-image-block">
    <div class="container">
      <div class="content-before-columns">
        <div class="content-before-columns_img-02"><%= image_tag("02.png") %></div>
        <h3 class="content-before-columns_head-3">Our focus</h3>
        <p class="content-before-columns_text-3">We understand requirement and provide quality works.</p>
      </div>
      <div class="content-image-columns">
        <div class="row">
        <div class="col-md-3 content-image-columns_column-1 content-image-columns_columns-all">
          <div class="image-box"><%= image_tag(".png") %></div>
          <h6 class="head-6"><b>Web Design</b></h6>
          <p class="column-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="col-md-3 content-image-columns_column-2 content-image-columns_columns-all">
          <div class="image-box"><%= image_tag(".png") %></div>
          <h6 class="head-6"><b>UX Design</b></h6>
          <p class="column-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="col-md-3 content-image-columns_column-3 content-image-columns_columns-all">
          <div class="image-box"><%= image_tag(".png") %></div>
          <h6 class="head-6"><b>Photography</b></h6>
          <p class="column-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="col-md-3 content-image-columns_column-4 content-image-columns_columns-all">
          <div class="image-box"><%= image_tag(".png") %></div>
          <h6 class="head-6"><b>App Development</b></h6>
          <p class="column-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
      </div>
    </div>
  </div>
</div>

